<!DOCTYPE html>
<html>
<head>
	<title>Opinions Voted In</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'/>
	<link href='https://fonts.googleapis.com/css?family=Merriweather+Sans' rel='stylesheet'/>
	<link href='https://fonts.googleapis.com/css?family=Libre+Franklin' rel='stylesheet'/>
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'/>
	<link rel="stylesheet" href="{{request.static_url('repoll:repoll_static/styles.css') }}"/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"/>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-137993565-1"></script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-137993565-1');
	</script>
	<style>
		#container{
			margin-top: 40px;
		}
		#sub-container{
			padding-top:40px;
		}
	</style>


<body>

{%include 'not_home_navbar_template.jinja2' %}

<div id="container">


	<script src="{{request.static_url('repoll:js/opinions_voted_in_build.js')}}"></script>
</div>
<div id='snackbar'></div>

</body>

</html>
