<!DOCTYPE html>
<html>
    <head>
        <title>Suggestion</title>
        <style>
            .feed-item {
                border: 1px solid lightgrey; 
            }
            .feed-item .box {
                width: 50%;
                margin: auto; 
            }

            .feed-item img {
                display: block; 
                max-height: 100px;
                max-width: 100px;
            }

            .feed-item button {
                background-color: teal; 
                color: white; 
                padding: 8px 5px;
            }
        </style>
    </head>
    <body>
        <div class="feed-item">
            <div class="box">
                <img src="https://pbs.twimg.com/media/DzrGYAjWsAA8An1.jpg">
                <button class="follow">Follow</button>
            </div>
        </div>
    </body>
</html>